body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  user-select: none;
  font-family: Poppins;
  position: relative;
  width: 100%;
  height: 100%;
}
h1,h2,h3,h4,h5,h6,ul,li,p,small,span {
  margin: 0;
  padding: 0;
}