<div id="loader-bg">
  <div id="loader">
    <h3>Uploading...</h3>
    <div id="line">
    <span class="expand"></span>
  </div> 
  </div>
</div>

<div class="container index-container">
  <div class="check">
    <%= icon('fa', 'check-circle') %> 
  </div>
  <h3>Uploaded Successfully!</h3>
  <div class="upload-img">
    <img src="/assets/gakkiy.jpg">
  </div>
  <div class="copy-link">
    <input class="link" id="copyTarget" type="text" value="http://aqwertyuiopasdfghjklzxcvbnm" readonly>
    <button class="copy-btn" onclick="copyToClipboard()">Copy Link</button>
  </div>
</div>

<script>
  function copyToClipboard() {
      // コピー対象テキストのIDを取得
      var copyTarget = document.getElementById("copyTarget");
      // コピー対象のテキストを選択
      copyTarget.select();
      // 選択しているテキストをクリップボードにコピーする
      document.execCommand("Copy");
      // コピーをお知らせする
      alert("コピーできました！ : " + copyTarget.value);
  }
</script>

<script>
$(function() {
  var h = $(window).height();
  
  $('.index-container').css('display','none');
  $('#loader-bg ,#loader').height(h).css('display','block');
});
  
$(window).load(function () { //全ての読み込みが完了したら実行
  $('#loader-bg').delay(3000).fadeOut(800);
  $('#loader').delay(2500).fadeOut(300);
  $('#wrap').css('display', 'block');
});
  
//10秒たったら強制的にロード画面を非表示
$(function(){
  setTimeout('stopload()',1000);
});
  
function stopload(){
  $('.index-container').css('display','block');
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
}
</script>